<!DOCTYPE html>
<html>
   <body>
     
     <% if (flavor == "chocolate") { %>
     <h1>Ew, that's disgusting. You're gross</h1>
     <% } else { %>
     <h1>Wow, you like <%=flavor%> ice cream with <%=topping%> too? That's my favorite!</h1>
     <% } %>
  </body>
</html>